@charset "UTF-8";

body {
	overflow-x: hidden;
	/* 가로 스크롤을 숨깁니다. */
}

.mainSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* 수직 가운데 정렬 */
	align-items: center;
	/* 수평 가운데 정렬 */
	margin-top: 85px;
	text-align: center;
}

.title {
	display: block;
	position: absolute;
	top: 110px;
	right: 17%;
	width: 100%;
	margin-top: 10px;
	font-size: 24px;
	font-weight: normal;
}

.comeForm {
	margin-left: 25%;
	margin-top: 2%;
	width: 65%;
	font-size: 16px;
}

/* 추가된 CSS 클래스 */
.customTable {
	border-collapse: collapse;
	width: 100%;
}

.customTable td,
.customTable th {
	/* 	border: 1px solid #ddd; */
	padding: 8px;

}

.customTable th {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: rgb(106, 176, 173);
	color: #fff;
}


.td1 {
	font-size: 35px;
	text-align: center !important;
	/* 텍스트를 가운데 정렬합니다. */
}

.id,
.time,
.type,
.Apptitle,
.send_name,
.receiver_name,
.status {
	text-align: center;
	/* 텍스트 중앙 정렬 */
}

.id {
	width: 150px;
}

.time {
	width: 330px;
	/* 원하는 너비 지정 */
}

.type {
	width: 150px;
	/* 원하는 너비 지정 */
}

.Apptitle {
	width: 230px;
	/* 원하는 너비 지정 */
	cursor: pointer;
	/* 마우스 포인터를 가리키는 속성 추가 */
}

.send_name,
.receiver_name {
	width: 210px;
	/* 원하는 너비 지정 */
}

.status {
	width: 210px;
	/* 원하는 너비 지정 */
}

.customTable {
	width: 100%;
}

.pagination {
	text-align: center;
	margin-top: 20px;
}

.pagination a {
	display: inline-block;
	padding: 5px 10px;
	margin: 5px;
	background-color: #fff;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-decoration: none;
}

.pagination a:hover {
	background-color: #f5f5f5;
}

.pagination .current-page {
	background-color: #6ab0ad;
	color: #fff;
	padding: 5px 10px;
	margin: 5px;
	border: 1px solid #6ab0ad;
	border-radius: 5px;
}

.pagination a:disabled {
	background-color: #eee;
	color: #888;
	pointer-events: none;
}

tbody tr:hover {
	background-color: #f5f5f5;
	/* 마우스를 올렸을 때 배경 색상 변경 */
	cursor: pointer;
	/* 커서를 포인터 모양으로 변경 */
}