@charset "UTF-8";


/* 공통 스타일 */
.styled-table {
	border: 1px #a39485 solid;
	font-size: .9em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
	width: 80%;
	border-collapse: collapse;
	border-radius: 5px;
	overflow: hidden;
	margin-left: 280px;
	/* 수평 가운데 정렬을 위한 스타일 */
}

/* 테이블 제목 셀 스타일 */
.styled-table th {
	text-align: center;
	/* 텍스트 왼쪽 정렬 */
	transition: background-color 0.3s;
	/* 호버 시 배경색 변경 애니메이션 */
	cursor: pointer;
	/* 호버 시 포인터 커서로 변경 */
}

/* 호버 시 배경색 변경 */
.styled-table th:hover {
	background-color: #ccc;
	/* 호버 시 배경색 변경 (예: 회색) */
}


.styled-table thead {
	font-weight: bold;
	color: #fff;
	background: rgb(106, 176, 173);
}

.styled-table td,
.styled-table th {
	padding: 1em .5em;
	vertical-align: middle;
}

.styled-table td {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	background: #fff;
}

.styled-table a {
	color: #73685d;
}

/* 미디어 쿼리 */
@media all and (max-width: 768px) {

	.styled-table,
	.styled-table thead,
	.styled-table tbody,
	.styled-table th,
	.styled-table td,
	.styled-table tr {
		display: block;
	}

	.styled-table th {
		text-align: right;
	}

	.styled-table {
		position: relative;
		padding-bottom: 0;
		border: none;
		box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	}

	.styled-table thead {
		float: left;
		white-space: nowrap;
	}

	.styled-table tbody {
		overflow-x: auto;
		overflow-y: hidden;
		position: relative;
		white-space: nowrap;
	}

	.styled-table tr {
		display: inline-block;
		vertical-align: top;
	}

	.styled-table th {
		border-bottom: 1px solid #a39485;
	}

	.styled-table td {
		border-bottom: 1px solid #e5e5e5;
	}
}

body {
	line-height: 24px;
	color: #333;
	background: white;
	overflow-y: scroll;
}

.clear {
	clear: both;
}

.articleTitle {
	font-size: 1.15em;
	font-weight: 700;
	line-height: 1em;
	color: #222;
}

.container {
	padding-top: 1em;
	margin-top: 1em;
	border-top: solid 1px #CCC;
}

a.button {
	display: block;
	position: relative;
	float: left;
	width: 120px;
	padding: 0;
	margin: 10px 20px 10px 0;
	font-weight: 600;
	text-align: center;
	line-height: 50px;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.2s;
}

/* FLOAT */
.btnFloat {
	background: none;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.btnFloat:before {
	content: '추가';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 50px;
	border-radius: 5px;
	transition: all 0.2s;
}

.btnBlueGreen.btnFloat:before {
	background: #00AE68;
}

.btnLightBlue.btnFloat:before {
	background: #5DC8CD;
}

.btnOrange.btnFloat:before {
	background: #FFAA40;
}

.btnPurple.btnFloat:before {
	background: #8D336A;
}

.btnFloat:before {
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.btnFloat:hover:before {
	margin-top: -2px;
	margin-left: 0px;
	transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

/* 추가 버튼 */
.btnFloatAdd:before {
	content: '추가';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 50px;
	border-radius: 5px;
	transition: all 0.2s;
	/* 나머지 스타일 속성들은 동일하게 유지 */
}

/* 삭제 버튼 */
.btnFloatDelete:before {
	content: '삭제';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 50px;
	border-radius: 5px;
	transition: all 0.2s;
	/* 나머지 스타일 속성들은 동일하게 유지 */
}

/* 수정 버튼 */
.btnFloatEdit:before {
	content: '뭐야';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 50px;
	border-radius: 5px;
	transition: all 0.2s;
	/* 나머지 스타일 속성들은 동일하게 유지 */
}

/* 다른 버튼 */
.btnFloatOther:before {
	content: '뭐임?';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 50px;
	border-radius: 5px;
	transition: all 0.2s;
	/* 나머지 스타일 속성들은 동일하게 유지 */
}

.swal2-input {
	margin-bottom: 5px;
	/* 각 입력 필드 아래의 마진 조절 */
}

/* Customize the label (the container) */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 165px;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

hr {
	background-color: #fff;
	padding: 0;
	margin: 80px;
}

hr.hr-3 {
	border: 0;
	height: 0;
	border-top: 1px solid #8c8c8c;
}


/* 사이드바 스타일 */
.sidebar {
	margin-left: 191px;
	height: 100%;
	width: 230px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	padding-top: 20px;
	border-right: 1px solid lightgray;
	text-align: left;
}

/* 사이드바 링크 스타일 */
.sidebar a {
	padding: 15px;
	text-decoration: none;
	/* 링크 밑줄 제거 */
	color: black;
	/* 글자색 설정 */
	display: block;
	/* 블록 요소로 표시하여 세로로 배치 */
}

/* 사이드바 링크 호버 스타일 */
.sidebar a:hover {
	background-color: #ccc;
	/* 연한 회색 배경으로 변경 */
}

.main {
	margin-left: 250px;
	padding: 20px;
	border-top: 1px solid lightgray;
}

#pagination {
	text-align: center;
	margin-top: 20px;
	margin-left: 220px;
}

#pagination a {
	display: inline-block;
	margin: 0 5px;
	padding: 5px 10px;
	background-color: #fff;
	color: #000;
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid #000;
}

#pagination a:hover {
	background-color: #333;
	color: #fff;
}

h1 {
	font-size: 40px;
	margin-top: 0;
	font-weight: 500;
	line-height: 1.2;
}





.name-col {
	width: 150px;
	/* 이름 열 너비 */
}

.department-col {
	width: 120px;
	/* 부서 열 너비 */
}

.position-col {
	width: 100px;
	/* 직위 열 너비 */
}

.phone-col {
	width: 130px;
	/* 휴대폰 열 너비 */
}

.email-col {
	width: 200px;
	/* Email 열 너비 */
}

.contact-img {
	position: relative;
	top: 10px;
	width: 40px;
}

/* 헤더 스타일 */
.header {
	text-align: center;
	background-color: #fff;
	color: #333;
	padding: 10px;
	margin-left: 200px;
}