@charset "UTF-8";

.sidebar {
	margin-left: 190px;
	height: 100%;
	width: 225px;
	position: fixed;
	top: 0px;
	left: 1px;
	background-color: #fff;
	padding-top: 20px;
	border-right: 1px solid #c0c0c0;
	order: 1;
	border-top: none;
	padding: 8px;
	padding-top: 10px;
}
.allSection{
	height: 600px;
}
.btn_upload {
	overflow: hidden;
	transition: all 0.3s ease;
	padding: 0px 33px;
	font-size: 17px;
	/* font-weight: bold; */
	cursor: pointer;
	outline: none;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
	width: 200px;
	height: 50px;
	border-radius: 4px;
	border: 1px solid #c0c0c0;
	background: #fff;
}

.btn_upload:hover {
	background: rgb(106, 176, 173);
	border: 1px solid #c0c0c0;
	color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.modal-content {
	background-color: #fff;
	margin: 3% auto;
	padding: 20px;
	border-radius: 5px;
	width: 40%;
}

.close {
	position: absolute;
	top: 8.5%;
	right: 30%;
	font-size: 27px;
	cursor: pointer;
	color: #6d6d6d;
	font-weight: bold;
}

#all,
#individual {
	cursor: pointer;
}

#allDocument,
#indiDocument {
	float: right;
	width: calc(80%);
	padding: 0px;
}

#allDocument,
#indiDocument {
	position: fixed;
	top: 130px;
	left: 520px;
	width: calc(85% - 20%);
	padding: 0;
	margin: 0;
	overflow: auto;
}

.document-container {
	margin-left: 190px;
	margin-top: 2%;
	border-top: 1px solid lightgray;
}

.table-style {
	width: 99%;
	border-collapse: collapse;
}

.table-style th,
.table-style td {
	border: none;
	padding: 8px;
	text-align: center;
}

.table-style th {
	background-color: rgb(106, 176, 173);
	color: #fff;
}

.table-style th:nth-child(1),
.table-style th:nth-child(3),
.table-style th:nth-child(4),
.table-style th:nth-child(5) {
	width: 70px;
}

.table-style th:nth-child(2) {
	width: 300px;
}

.table-style th:nth-child(6) {
	width: 160px;
}

.table-style tbody tr:hover {
	background-color: #f5f5f5;
}

.pagination {
	text-align: center;
	margin-top: 20px;
}

.pagination a {
	display: inline-block;
	padding: 5px 10px;
	margin: 5px;
	background-color: #fff;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-decoration: none;
}

.pagination a:hover {
	background-color: #f5f5f5;
}

.pagination .active {
	background-color: #6ab0ad;
	color: #fff;
	padding: 5px 10px;
	margin: 5px;
	border: 1px solid #6ab0ad;
	border-radius: 5px;
}

.downloadGuide {
	position: relative;
	left: 1020px;
	font-size: 14px;
	color: red;
}