@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.Main_Content {
	margin: 10%;
    margin-left:470px;
    margin-top: 50px;
    border-radius: 2%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
.page-side {
	margin-left: 200px;
    float: left;
    width: 200px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.page-side h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.page-side a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

