@charset "UTF-8";
    /* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
    /* 게시물 컨테이너 스타일 */
    .Post_Content {
        padding: 20px;
        padding-left:40px;
        border-bottom: 1px solid #ccc;
    }

    /* 게시물 제목 스타일 */
    h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    /* 게시물 정보 스타일 */
    .Post_Content span {
        margin-right: 10px;
        color: #888;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /* 댓글 입력 부분 스타일 */
    .comment-input {
        margin-top: 20px;
        padding-left:40px;
    }

	/* 댓글 스타일 */
	.comment {
	    margin-top: 20px;

	}
	
	.comment .comment-box {
	    border-bottom: 1px solid #ccc;
	    padding-top:10px;
	    padding-bottom:10px;
	}
	.comment-box{
		padding-left:40px;
	}
	
	.comment .comment-comment_Userid {
	    font-weight: bold;
	    margin-right: 10px;
	}
	
	.comment .comment-comment_Date {
	    color: #888;
	    margin-right: 10px;
	}
	
	.comment .comment-comment {
	    margin-top: 5px;
	}
	/* 좋아요 버튼 스타일 */

	
	.page-side a:hover {
	    background-color: #cfcfcf;
	}

	
	/* 댓글 입력 부분 스타일 */
	.comment-input {
	    margin-top: 20px;
	    display: flex; /* 내용을 가로로 정렬 */
	}
	
	.comment-input input[type="text"] {
	    flex-grow: 0.5; /* 입력 필드가 남은 공간을 채우도록 설정 */
	    padding: 10px;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    margin-right: 10px; /* 입력 필드와 버튼 사이의 간격 조절 */
	}
	
	.comment-input input[type="button"] {
	    background-color: #4CAF50;
	    color: white;
	    border: none;
	    padding: 10px 20px;
	    text-align: center;
	    text-decoration: none;
	    font-size: 16px;
	    border-radius: 4px;
	    cursor: pointer;
	}
	
	.comment-input input[type="button"]:hover {
	    background-color: #45a049;
	}
	.page-side a:hover {
	    background-color: #cfcfcf;
	}