@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}

h3 {
	width: 20%;
	margin-left: 14%;
	text-align: left;
	background-color: rgb(106, 176, 173);
	color: #fff;
	padding: 10px 0;
}

#container {
	background-color: #fff;
	border-radius: 5px;
	margin: 20px auto;
	padding: 20px;
	width: 70%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#image {
	text-align: left;
	margin-bottom: 20px;
}

#exProfileIMG {
	max-width: 200px;
	max-height: 200px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.tdclass {
	font-weight: bold;
	width: 12%;
}

td {
	padding: 10px;
	text-align: left;
}

.btnEdit {
	width: 100px;
	height: 35px;
	background-color: rgb(106, 176, 173);
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}

.btnEdit:hover {
	background-color: rgb(46, 146, 143);
}

.btnBack {
	width: 100px;
	height: 35px;
	background-color: rgb(255 255 255);
	border: 1px solid black;
	border-radius: 3px;
	color: #000;
	font-size: 15px;
	cursor: pointer;
}