@charset "UTF-8";

html, body {height: 100%; margin:0; font-size:14px;}
/********** mail **********/
.whiteBtn {border: 1px solid black; border-radius: 4px; background-color: white; cursor:pointer;}
.whiteBtn:hover {border: 1px solid black; border-radius: 4px; background-color: white; cursor:pointer; 
					border: 1px solid #6AB0AD; color:#6AB0AD;}
.whiteBtn2 {width: 200px; height: 44px;}
.divHidden {display:none;}
#mDivMain {width:100%; border:1px solid lightgray;}
#mailSideTitle {font-weight:bold; font-size:20px; padding-left:40px;}