@charset "UTF-8";
.sideBar{
	width: 210px; 
	height: 900px;
	float: left;
	background-color: white;
    border-radius: 5px;
    border-right:1px solid lightgrey;
    padding: 0 18px 0 18px;
}
#calendar{
	width:1400px;
	background-color: white;
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 10px; 
}
.pageCalendar{
	width: 2000px;
	margin-left: 196px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top:1px solid lightgrey;
}
.addPlanBtn{
	margin-left : 15px;
	margin-top : 15px;
	width: 200px;
	height: 44px;
	font-size: 14px;
	border: 1px solid #888;
    background: #fff;
    border-radius: 4px;
    transition: all .2s;
    font-weight: normal;
    cursor: pointer;
}
.addPlanBtn:hover{
	transform: translateY(-5px);
	box-shadow: 1px 1px 20px #ddd;
}
.calendar{ 
	padding-left: 10px;
}
.c_title{
	cursor: pointer;
}
/* 일요일 날짜 빨간색 */
.fc-day-sun a {
  color: red;
  text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: blue;
  text-decoration: none;
}
.fc-day-sun{
	background-color: #fff0f5;
}
.fc-day-sat{
	background-color: #a4ebeb;
}
div.fc-daygrid-day-frame:has(a.koreanHoliday){
	background-color: #fff0f5;;
}
.fc-prev-button{
	float: left;
}
.fc-toolbar-title{
	float: left;
}
.fc .fc-button-primary{
	background-color: rgb(106, 176, 173);
}
.fc .fc-toolbar-title {
	margin-right:15px;
	margin-left:15px;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 2.0em;
}
.sideBarTbl{
	margin-top:20px;
	margin-left : 15px;
}
.planTd{
	width:130px;
}
.circle{
	width:15px; 
	height:15px; 
	border-radius:100%
}